<launch>


<node pkg="mockamap" type="mockamap_node" name="mockamap_node" output="screen">
  <rosparam command="load" file="$(find rrtstar_ros)/config/mockamap.yaml" />
  <!-- <param name="type" type="int" value="1"/> -->
    <!-- 1 perlin noise parameters -->
    <!-- complexity:    base noise frequency,
                        large value will be complex
                        typical 0.0 ~ 0.5 -->
    <!-- fill:          infill persentage
                        typical: 0.4 ~ 0.0 -->
    <!-- fractal:       large value will have more detail-->
    <!-- attenuation:   for fractal attenuation
                        typical: 0.0 ~ 0.5 -->

</node>

<!-- Launch RViz with the demo configuration -->
<node name="rviz" pkg="rviz" type="rviz"
  args="-d $(find rrtstar_ros)/rviz/mockamap_display.rviz"
  />

<node pkg="rrtstar_ros" type="rrtstar_ros_node" name="rrtstar_ros_node" output="screen">
  <param name="file_location" type="string" value="$(find rrtstar_ros)/config/point.csv"/>
  <rosparam command="load" file="$(find rrtstar_ros)/config/rrt.yaml" />
  <remap from="/pcl" to="/mock_map"/>
</node>

<node pkg="rrtstar_ros" type="rrtstar_ros_visualization_node" name="rrtstar_ros_visualization" output="screen">

</node>

</launch>
